.mybutton {
  align-self: flex-end;
}

.update-button {
  width: 36px;
  height: 36px;

  border: 1px solid #000;
  border-radius: 18px;
  color: #0f0;
  transform: rotate(90deg);

  font-size: 24px;
  align-self: center;
}

.close-button {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;

  border: 1px solid #000;
  border-radius: 18px;
  color: #f00;

  font-size: 24px;
  align-self: center;
}

.add-button {
  position: absolute;
  bottom: 12px;
  right: 10px;
  width: 36px;
  height: 36px;

  border: 1px solid #000;
  border-radius: 18px;
  color: #000;

  font-size: 24px;
  align-self: center;
}

.input-block {
  position: relative;
}

#inputText {
  width: 580px;
  height: 200px;
}
